.fieldinfo{
    color: blue;
}
div{
    width:500px;
    margin-left:360px;
}
input[type="text"],textarea{

    border: 1px solid dashed;
    background-color: rgb(221,216,212);
    width: 480px;
    font-size: 1.0em;
    padding: .5em;

}
input[type="submit"]
{
    color:white;
    font-size: 1em;
    width: 200px;
    height:40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    border: 5px solid;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-color: rgb(221,216,212);
    font-weight: bold;
    float:left;
}